<div *ngIf="!socketId" style="color: darkred">
  .  You are not connected
</div>
<div class="row vh-100" *ngIf="chatClient" style="padding-top: 30px">



  <div class="col-3">
    <div class="card h-100">
      <div class="card-header">
        <h2 class="darkslategreyText">
          <span style="">Online Users</span>
        </h2>
      </div>
      <div class="card-body">
        <div *ngIf="clients$ | async as clients">
          <ul class="clientList">
            <li *ngFor="let client of clients">
              {{client.nickname}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="card h-100">
      <div class="card-header">
        <h5 style="font-size:24px">Start chatting {{chatClient.nickname}}n {{socketId}}</h5>
      </div>
      <div class="card-body">
        <h4 class="messageList" *ngFor="let message of messages">
          <span class="sentAtText">{{message.sentAt.substring(message.sentAt.length-8,message.sentAt.length)}}</span>
          <span style="font-size:14px;color: lightgreen;font-family:sans-serif">   {{message.sender?.nickname}}: </span>
          <span class="messageText">{{message.message}}</span>
        </h4>
      </div>
      <div class="card-footer">
        <label>
          Message:
          <input type="text" [formControl]="messageFc">
        </label>
        <button (click)="sendMessage()">Send Message</button>
        <h4 class="isTyping"
            *ngFor="let clientTyping of clientsTyping">
          <div *ngIf="clientTyping.id !== chatClient.id">
            <div *ngIf="clientTyping.nickname">
              <span style="font-size:14px;color: forestgreen">..</span>
              {{clientTyping.nickname}} is typing...
            </div>
          </div>
        </h4>


      </div>
    </div>
  </div>
</div>





<div *ngIf="!chatClient">
  <div fxLayout="row" fxFlex fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card fxFlex="30" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header fxLayoutAlign="center top">
      <mat-card-title>Welcome To Crazy Chat</mat-card-title>
    </mat-card-header>
    <mat-card-content fxFlex fxLayoutAlign="bottom center ">

      <div fxLayout="column" fxFlexFill fxLayoutAlign="bottom center">



          <mat-form-field class="example-form-field">
            <mat-label>Enter Nickname</mat-label>
            <input matInput type="text" [formControl]="nicknameFc">
          </mat-form-field>

        </div>

        <div fxLayout="row"  fxLayoutAlign="center top" fxLayoutGap="10px">
          <button (click)="sendNickname()">Send</button> </div>

      <div *ngIf="error$ | async as error" style="color: orange">
        <h4>
          <span style="font-size:14px;color: forestgreen">..</span>
          Login Error - Nickname already in use
        </h4>
      </div>

    </mat-card-content>
  </mat-card>

  </div>


</div>












